uvicorn[all]
aiofiles
aiosqlite
alembic
annotated-types
anyio
async-timeout
asyncpg
Authlib
bcrypt
certifi
cryptography
dnspython
ecdsa
email_validator
exceptiongroup
fastapi
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
Mako
MarkupSafe
orjson
passlib
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
python-dotenv
python-jose
python-multipart
python-oauth2
PyYAML
sniffio
SQLAlchemy
starlette
typing_extensions